html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li { list-style: none; }

.virtual-table .virtual-list {
  border: none;
}

table {
  position: relative;
  border-collapse: collapse;
  width: 100%;

  tr {
    height: 32px;
    width: 100%;

    &.start, &.end {
      height: 0;
    }
  }

  td, th {
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
  }

  thead {
    th {
      background-color: #aaa;
      color: #fff;
      box-sizing: border-box;
      height: 100%;
    }
    th:nth-last-child(2){
      border-right: none;
    }
  }

  tbody {
    tr:first-of-type td {
      border-top: none !important;
    }

    tr:nth-child(even) {
      td {
        background-color: #e8e8e8;
      }
    }
  }
}

.virtual-list {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;

  li {
    box-sizing: border-box;
    display: block;

    height: 36px;
    border: none;
    padding: 0;

    span {
      display: inline-block;
      line-height: 26px;
    }

    &:nth-child(even){
      background-color: #e8e8e8;
    }
  }

  .start, .end {
    display: block;
  }
}

.drop-over {
  padding: 200px;

  [draggable]{
    border: 1px solid #ccc;
    padding: 10px;
  }
}

.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 500px;
  height: 350px;

  &.dropzone.active {
    border: 2px dotted red;
  }

  .image-container {
    width: 100%;
    height: 100%;
    padding: 0;
    background-position: top left;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
  }

  img {
    width: 100%;
  }

  .info>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 14px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 2px #ccc;

    i {
      font-size: 26px;
      color: #999;
    }
  }

  &>div, label {
    background-color: #fff;
    text-align: center;
    padding: 30px;
    display: inline-block;
  }

  i {
    font-size: 80px;
    color: #ccc;
    margin: 10px;
  }

  input[type=file] {
    display: none;
    pointer-events: none;
  }
}

